<div class="top" style="text-align:center">
Please fill out all fields below in order to apply for a Community Correspondent position. If a specific question does not apply to you, please write “N/A” in the text box beside it.
</div>
<div class="bottom">
<%= render 'form' %>
</div>


