<div class="top" style="text-align:center;">
  <div style="font-size:40pt;font-family:Georgia;font-style: italic;color:#6ba5d0;border-bottom:1px #EEE solid;">Application: Step 2</div>
</div>
<div class="bottom application">
<p>Please fill out all fields below in order to apply for a Community Correspondent position. If a specific question does not apply to you, please write “N/A” in the text box beside it.</p>
<%= form_for @profile do |f| %>
<%= render 'form', :f => f %>
<% end %>
</div>


