<p id="notice"><%= notice %></p>
<h1>Thank you for your submission</h1>
<p>Due to the overwhelming number of responses, we will be contacting only those who are selected. In the meantime, use Twitter/Facebook to talk about it.</p>

<small>Remove these before launch</small>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
