<div class="top" style="text-align:center">
  <div style="font-size:30pt;font-family:Georgia;font-style: italic;color:#6ba5d0;border-bottom:1px #EEE solid;">Thank you for your submission</div>
</div>
<div class="bottom application">
  <p>Due to the overwhelming number of responses, we will be contacting only those who are selected. In the meantime, use Twitter/Facebook to talk about it.</p>
</div>

