body {
  margin: 30px 0px;
  padding: 0px;
  text-align: center;
  background: url("../images/background.png") top left repeat;
}

.corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

div#main {
  position: relative;
  width: 800px;
  margin: 0px auto;
  text-align: left;
}

div#main a { color: #444; }
div#main a:visited { color: #444; }
div#main a:hover { color: #444; }

div#admin_navbar a { color: white; }
div#admin_navbar a:visited { color: white; }
div#admin_navbar a:hover { color: white; }

a {
  text-decoration: none;
}

div#logo, div#logo a {
  color:#f3ba2d;
  font-size:28pt;
  font-family: helvetica, arial;
  font-weight:bold;
  line-height:37px;
  height:80px;
}

#navbar {
  position: absolute;
  right: 0px;
  top: 40px;
  font-family: helvetica, arial;
  background-color: #f8f8f8;
  color: #444;
  font-weight: bold;
  font-size: 0.8em;
}

#social_media {
  position: absolute;
  right: -20px;
  top: 0px;
  font-family: helvetica, arial;
  width: 150px;
  text-align:right;
}

.addthis_toolbox addthis_default_style addthis_32x32_style {
  text-align:right;
}

#navbar .td{
  padding: 15px;
}

#navbar .left-border {
  border-left: 1px #DDD solid;
}

div.table {
  display: table;
}

div.tr {
  display: table-row;
}

div.td{
  display: table-cell;
}

div#content {
  font-family: helvetica, arial, sans-serif;
}

div#content p, div#content ul { font-size: 90%; }

div#content .top {
  margin-top: 15px;
  padding: 10px;
  background-color:#F5F5F5;
  border-left: 7px #222 solid;
  border-right: 7px #222 solid;
  border-top: 7px #222 solid;
  border-bottom: 2px #AAA solid;
  -moz-border-top-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -khtml-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-top-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -khtml-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
}

div#content .top h3 {
  font-size:24pt;
  font-family: helvetica, arial;
  color:#6ba5d0;
  margin-top:7px;
  margin-bottom:7px;
  border-bottom:1px #EEE solid;
}

div#content .bottom {
  padding: 5px 30px 25px;
  background-color:#FFF;
  border-left: 7px #222 solid;
  border-right: 7px #222 solid;
  border-bottom: 7px #222 solid;
  -moz-border-bottom-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -khtml-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -khtml-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

div#content .bottom h2 {
  font-size:26pt;
  font-family:helvetica;
  color:#6ba5d0;
  margin-top:7px;
  margin-bottom:7px;
}

div#content .bottom h4 {
  font-size:14pt;
  font-family: helvetica, arial;
  color:#999;
  margin-top:20px;
  margin-bottom:3px;
}

div.float_form {
  position:absolute;
  right:0px;
  padding:10px;
  background-color:#EEE;
  font-size:1.2em;
}

div.float_form .td {
  padding:5px;
}

.application .tr {
}

.application .td, #edit_profile .td {
  padding-top: 10px;
  vertical-align: top;
}

.application input[type=text], .application textarea  {
  width: 100%;
}

.application textarea, #edit_profile textarea {
  height: 120px;
}

.application .form_note {
  color: #AAA;
  font-style: italic;
  font-size: 0.9em;
}

.application .field-col {
  padding-left: 10px;
}

.nav_buttons {
  margin-top:20px;
  display:table;
  width:100%;
}

.apply_button {
  width: 100%;
  display: table-cell;
  text-align:center;
}

div.faq ul { list-style-type: none; }

div.faq blockquote { color: #3f3f3f; }

div#welcome p a { color: #999; }
div#welcome p a:hover { text-decoration: underline;}
