<div>
  <h2>Hi <%= @profile.full_name %></h2>
  <p>Congratulations! You have been selected from a long list of qualified applicants to be a <%= raw("<a href='http://thestar.com'>thestar.com</a>")%> Community Correspondent.</p>
  <p>Please click on the URL below for more information and to confirm your participation.</p>
  <h4>Perishable link here</h4>
</div>
