<div>
  <h1>Application from <%= @profile.first_name %> <%= @profile.last_name %> has been received.</h1>
  <p>Review it at <%= profile_url(@profile, :host => "localhost:3000") %></p>
  <p>Thanks, the website</p>
</div>
