<div>
  <h1>Thank you</h1>
  <p>We have received your application and will review it in the next few days. Due to the overwhelming number of responses, we will only contact you if you've been accepted as one of our contributors.</p>
</div>
