<div>
  <p>
  Thank you for applying to be a <%= raw("<a href='http://thestar.com'>thestar.com</a>")%> Community Correspondent. We will review your application carefully and let you know if you have been selected.
  </p>
  <p>Good luck!</p>
</div>
