<div class="top" style="text-align:center;">
  <h3>Start Your Application</h3>
</div>
<div class="bottom">
  <p>The Toronto Star, in partnership with TheMarkNews.com, is selecting two Community Correspondents from every district in Ontario to report weekly news stories and start online discussions that will appear on <i>The Star’s</i> “Have Your Say” website.</p>
  <h2>Responsbilities</h2>
  Community Correspondents will be expected to:
  <ul>
  <li>Produce <u>at least</u> one piece of content each week leading up to the election, and three pieces the week of the election</li>
  <li>Use a variety of mediums, with an emphasis on video and photos</li>
  <li>Answer weekly questions sent by <i>The Star’s</i> Community Correspondent Editor</li>
  </ul>
  <p>The ideal candidates will have strong written and verbal communication skills. Subject matter expertise, relevant professional experience, and journalistic/editorial experience would all be assets, but none are required.<br><br>For more information, please read these <%= link_to "frequently asked questions", faq_path, :target => "_blank", :style => "text-decoration:underline" %>.</p>
  <div class="nav_buttons">
    <div class="apply_button">
      <%= link_to application_path do %><%= image_tag "application_form_button.png" %><% end %>
    </div>
  </div>
</div>
