<div class="top" style="text-align:center;">
  <div style="font-size:40pt;font-family:Georgia;font-style: italic;color:#6ba5d0;border-bottom:1px #EEE solid;">Application: Step 1</div>
</div>
<div class="bottom">
  The Toronto Star, in partnership with TheMarkNews.com, is selecting two Community Correspondents from every district in Ontario to report weekly news stories and start online discussions that will appear on <i>The Star’s</i> “Have Your Say” website.
  <h2>Responsbilities</h2>
  Community Correspondents will be expected to:
  <ul>
  <li>Produce <u>at least</u> one piece of content each week leading up to the election, and three pieces the week of the election</li>
  <li>Use a variety of mediums, with an emphasis on video and photos</li>
  <li>Answer weekly questions sent by <i>The Star’s</i> Community Correspondent Editor</li>
  </ul>
  The ideal candidates will have strong written and verbal communication skills. Subject matter expertise, relevant professional experience, and journalistic/editorial experience would all be assets, but none are required. 
  <div class="nav_buttons">
    <div class="faq_button">
      <%= link_to faq_path, :target => "_blank" do %><button style="font-size:30pt">FAQ</button><% end %>
    </div>
    <div class="apply_button">
      <%= link_to application_path do %><button style="font-size:30pt">Application Form</button><% end %>
    </div>
  </div>
</div>
