<div class="top" style="text-align:center;">
  <h3>What does a Community Blogger do?</h3>
</div>
<div class="bottom">
<p>Community Bloggers will be expected to:
<ul>
  <li>Produce at least one piece of content each week leading up to the election, and three pieces the week of the election.
  <li>Use a variety of mediums, with an emphasis on video and photos.
  <li>Answer weekly questions sent by thestar.com's Community Blogger Editor.
</ul>
<p>The ideal candidate will have strong written and verbal communication skills. Subject matter expertise, relevant professional experience, and journalistic/editorial experience would all be assets, but none are required.</p>
<p>For more information, read these <%= link_to "Frequently Asked Questions", faq_path, :target => "_blank", :style => "text-decoration:underline" %>.</p>
  <div class="nav_buttons">
    <div class="apply_button">
      <%= link_to application_path do %><%= image_tag "application_form_button.png" %><% end %>
    </div>
  </div>
</div>
