<div class="top" style="text-align:center;">
  <h3>Congratulations, <%= @profile.full_name %></h3>
</div>
<div id="welcome" class="bottom">
  <p>You have been selected as a <a href='http://www.thestar.com' target='_blank'>thestar.com</a> Community Blogger!</p>
  <p>As a <a href='http://www.thestar.com' target='_blank'>thestar.com</a> Community Blogger, you will be expected to produce one piece of content each week leading up to the election (starting the first week of September), and three pieces the week of the election.</p>
  <p>Use a variety of mediums, with an emphasis on video and photos. Answer weekly questions sent by the <a href='http://www.thestar.com' target='_blank'>thestar.com</a> Community Blogger Editor.</p>
  <p>For more information, check out the <%= link_to 'FAQ', faq_path %> section.</p>
  <p>Click the link below to confirm your participation and start the process.</p>
  <div style="width:100%;text-align:center;margin-top:15px;">
    <button onclick="window.location='<%= edit_profile_url(@profile, :token => @profile.token) %>';">I accept - sign me up</button>
  </div>
</div>
