<div class="top" style="text-align:center">
  <h3>Frequently Asked Questions</h3>
</div>
<div class="faq bottom">
  <div style="margin-top:20px;font-size:1.4em;color: #6ba5d0;font-weight:bold">Application Questions</div>

  <h4>What are the selection criteria?</h4>

  <p>Candidates will be assessed based on three criteria:</p>
  <ul>
    <li>1) Professional qualifications – Do you have subject matter expertise, academic experience, journalistic experience, or any other related professional skills?</li>
    <li>2) Editorial ideas – Do you propose to cover interesting, unique stories in your application that will appeal to a large audience and stimulate online discussion?</li>
    <li>3) Communication skills – Do your writing and other content samples demonstrate the ability to communicate clearly in writing or video formats?</li>
  </ul>
  <p>We will also be looking at your “reach“, meaning the size of the online network you can bring into conversation, as well as the number of pieces you expect to produce, and how active you expect to be in the community.</p>

  <h4>Will I have a better chance if I apply sooner rather than later?</h4>
  <p>Yes. Priority will be given to applications submitted by August 12, 2011. But we will continue to accept applications as long as there are spots still available.</p>

  <h4>When will I know if I’ve been selected?</h4>
  <p>All spots will be filled by Labour Day. If you are selected, we will notify you by email. Due to the overwhelming number of applications expected, only selected applicants will be contacted.</p>

  <h4>Can I apply for a district that I don’t live in?</h4>
  <p>You can, but it would be preferable to have Correspondents cover the district they live in. If you are interested in representing a district other than your own, please note the fact in the “Additional Comments” section on the application form.</p>

  <h4>What do I enter in the “Content Samples” text box?</h4>
  <p>Give us a sense of your skill as a writer, communication style. Published samples would be ideal- anything from your blog, community newspaper, your work, etc. Alternatively, submit an unpublished sample that shows what you can do. Submit a maximum of three samples on any topic. A mix of text and video would be ideal.</p>

  <h4>Why do you need my Facebook / Twitter links?</h4>
  <p>Community Correspondents will be the curators of interesting conversations and promoters of the Correspondent community. We hope they will share their work with friends and followers. In the event that there are too many good candidates in a district, audience size will be a selection factor.</p>

  <h4>What do I enter in the “Editorial Ideas” text box?</h4>
  <p>Post one to three editorial ideas you have for stories that you could cover in your district. Include the issue, the angle, and why you think it would appeal to an audience both within your district and outside. Try to be as specific as possible with these ideas.</p>
  <p>For example, an editorial pitch might look like the following:</p>
  <blockquote>If the Liberals lose the upcoming election, that could spell the end of the Green Energy Act, which would lead to 1,600 job cuts in my hometown of Windsor. How do the Conservatives and NDP plan to compensate for those job losses? How do the parties plan on tackling our long-term energy strategy?</blockquote>

  <h4>What is the purpose of the “Key Issues”?</h4>
  <p>Select those that you think will be the three most important issues in your district.</p>

  <h4>How do I know if I need to “Declare Conflicts of Interest”?</h4>
  <p>A conflict of interest is defined as a formal or informal affiliation with any political party or interest group with a stake in the election. Conflicts do not disqualify candidates, but they need to be declared in order to maintain the credibility of the project.</p>
  <p>Community correspondents will need to:</p>
  <ul>
    <li>1) Remain impartial and fair in reporting the news and gathering information</li>
    <li>2) Not show an open display of political or partisan views on public issues, political parties or candidates</li>
    <li>3) Avoid open endorsement of any political candidate or cause, including personal comments in online and social media platforms</li>
    <li>4) Avoid participation in demonstrations or signing of petitions, including online petitions and social media campaigns</li>
    <li>5) Disclose formal or informal ties you have to parties or candidates in your district</li>
  </ul>

  <h4>What do I write in the “Additional Information” text box?</h4>
  <p>Anything else that you think we should know, write it here!</p>

  <div style="margin-top:20px;font-size:1.4em;color: #6ba5d0;font-weight:bold">Questions About Being a Community Correspondent</div>

  <h4>How much will I need to produce?</h4>
  <p>Selected contributors will be expected to produce at least one piece of content each week leading up to the election, and three pieces of content in the week of the election, which is scheduled for October 6, 2011.</p>

  <h4>What if I can’t produce content on a certain week?</h4>
  <p>Consistency will be an important deciding factor in contributor selection.</p>

  <h4>Will I need to do anything else?</h4>
  <p>Each week, the <a href='http://thestar.com' target='_blank'>thestar.com</a> Community Correspondent editor will send questions to all Community Correspondents, who will provide answers that will then be compiled and published. Some Correspondents may also be asked to participate in panel discussions with other Correspondents and media personalities.</p>

  <h4>Is one format of content (written, video, audio, etc.) preferred over the others?</h4>
  <p>All formats are appreciated, but there is a definite emphasis on video. A good mix of formats will make it more interesting for the audience. For example, a written piece could be supplemented with an audiovisual piece like a video or photograph.</p>

  <h4>Am I expected to share or promote my own content?</h4>
  <p>You will be producing interesting local content, which we would want to reach as big an audience as possible. We hope you will share your content with friends and followers via email, blogs, Facebook, Twitter, and other social networks.</p>

  <h4>Can I re-post content produced for this site on my own blog?</h4>
  <p>Absolutely, we encourage it.</p>

  <h4>Is there any compensation for participating?</h4>
  <p>Community correspondents will receive no monetary compensation for their work. The value is being able to shape the debate and broadcast your ideas to the Toronto Star and The Mark’s national audiences. </p>

  <h4>Who do I contact with questions?</h4>
  <p>Due to high volumes, we will be unable to answer application and technical questions directly. Please email your questions to <a href="mailto:help@themarknews.com">help@themarknews.com</a> and we will publish the answers in bulk.</p>
</div>
