<div class="top" style="text-align:center">
<h3>Questions About the Application</h3>
</div>
<div class="bottom">
<h4>What are the selection criteria?</h4>

Candidates will be assessed based on three criteria: 1) professional qualifications (experience in journalism, writing, or a topic of interest), 2) editorial ideas (interesting or unique ideas), and 3) communication skills (the clarity with which they write and speak). While those are the three most important areas, we will also be looking at your reach (social media audience) and output capacity (how active you expect to be).

<h4>Will I have a better chance if I apply sooner rather than later?</h4>

Yes! Candidates will be selected on a rolling basis, meaning the sooner you get your application in, the better chance you will have.

<h4>When will I know if I’ve been selected?</h4>

Due to the overwhelming number of responses, we will only contact those who are accepted. The review process should take no longer than two weeks. If you are selected, we will contact you via the e-mail you provide.

<h4>Can I apply for a district that I don’t live in?</h4>

You can, although you should make note of that in the “Other Comments” section at the bottom. We would encourage you to only apply for districts you live in or nearby to, because you may want to travel there often for multimedia reasons.

<h4>What do I enter in the “Qualifications” text box?</h4>

Qualifications refer to any subject matter or writing expertise you might have. For example, if you know health care will be a large issue in your district, and you happen to have a background in medicine, that gives you a unique qualification. Any non-journalistic writing experience can fit in here as well.

<h4>What do I enter in the “Journalistic Experience” text box?</h4>

Journalistic Experience refers to any official experience you have working in media, be that anything from a student newspaper, to a volunteer position, to an internship, to a past or present paid position. If this does not apply to you, just write N/A in the box.

<h4>Why do you need my Facebook / Twitter links?</h4>

Part of what we hope community correspondents will do is sharing their work with their friends and followers. In the event there are too many good candidates in one district, preference will go to the one with the largest social media audience.

<h4>What do I enter in the “Content Samples” text box?</h4>

This is how we will gauge your skill as a writer, and your ability to communicate. Post one to three samples of articles you’ve written in the past. Unpublished articles are fine, but published articles give us a better sense of what you’re capable of. Your samples can be on any topic.

<h4>What do I enter in the “Editorial Ideas” text box?</h4>

Post one to three editorial ideas you have for stories that you could cover in your district. Include the issue, the angle, and why you think it would appeal to an audience both within your district and outside. Try to be as specific as possible with these ideas.

<h4>What are the “Key Issue” drop down menus?</h4>

Use these three menus to choose what you think will be the three most important issues in your district.

<h4>How do I know if I need to “Declare Conflicts of Interest”?</h4>

A conflict of interest is defined as a formal or informal affiliation with any political party or interest group with a stake in the election. Conflicts do not disqualify candidates, but they need to be declared in the application form in order to maintain the credibility of the project.

<h4>What do I write in the “Other Comments” text box?</h4>

Anything else that you think we should know, write it here!


<div style="margin-top:20px;font-size:1.4em;color: #6ba5d0;text-align:center;font-weight:bold">Questions About the Mission:</div>

<h4>Is there any compensation for participating?</h4>
Community correspondents will receive no monetary compensation for their work. However, those who are selected will be given the chance to reach the Toronto Star’s national audience, and aspiring journalists will find this to be valuable experience to put in future applications.

<h4>How much do I need to produce?</h4>

Selected contributors will be expected to produce at least one piece of content each week leading up to the election, and three pieces of content in the week before the election on October 7th.

<h4>What if I can’t produce content on a certain week?</h4>

Exceptions can be made for specific cases, but reliability will be an important deciding factor in contributor selection.

<h4>Will I need to do anything else?</h4>

All contributors will also be asked a weekly question by the editors at TorStar on a broad topic, which they will be expected to respond to in a timely fashion.

Exceptional contributors may also be asked to participate in ad hoc panel discussions on topics with other contributors and members of the media.

<h4>Is one format of content (written, video, audio, etc.) preferred over the others?</h4>

All formats are appreciated, but you should strive to produce a mixture of content that will make things interesting and exciting for the readers in your district. Written articles will get more notice if they are supplemented with an audiovisual element like a photograph or video.

<h4>Am I expected to share or promote my own content?</h4>

The content you’ll be producing will be interesting and local, so we want it to reach as much of an audience as possible. We hope contributors will share their content with their friends and followers via Facebook, Twitter, and other social networks.

<h4>Can I re-post content produced for this site on my own blog?</h4>

Absolutely, we encourage it. 

<h4>Who do I contact with questions?</h4>

Due to the overwhelming number of applications, only contact us if you are having a technical problem. If you do need to contact us, please send a message to help@themarknews.com.
</div>


