<div class="top" style="text-align:center;">
  <div style="font-size:70pt;font-family:Georgia;font-style: italic;color:#6ba5d0;border-bottom:1px #EEE solid;">Welcome</div>
  <div style="padding: 7px">Would you like to be <span style="color:#6ba5d0;font-decoration:underline">THE</span> blogger for your district in the Ontario 2011 provincial election?</div>
</div>
<div class="bottom">
  <h2>Mission</h2>
  The Toronto Star, in partnership with The Mark, are putting together 214 of the best bloggers in the province to become our “Community Correspondents”! We will be selecting two bloggers from each district in the province to produce weekly posts on the election issues and topics going on in their area.
  <h2>Responsbilities</h2>
  Community Correspondents will be expected to:
  <div style="float:right;">
    <%= link_to application_path do %><%= image_tag "apply_now.png" %><% end %>
  </div>
  <ul>
  <li>Produce 1 piece of content each week leading up to the election</li>
  <li>Produce 3 pieces of content in the week before the election</li>
  <li>Use a variety of mediums, including photos, videos, audio, and writing</li>
  <li>Participate in weekly questionnaires</li>
  </ul>
</div>
