<div class="top" style="text-align:center;">
  <h3>Want to be a thestar.com Community Correspondent?
</h3>
</div>
<div class="bottom">
<p>The Toronto Star, in partnership with TheMarkNews.com, is selecting two Community Correspondents from every district in Ontario to report weekly news stories and start online discussions about 2011 Ontario provincial election.</p>
<p>Break news and debs about the issues that matter in your district to a province-wide audience through thestar.com's "Have Your Say" website.</p>
<div style="width:100%;text-align:center;margin-top:15px;">
    <%= link_to apply_path do %><%= image_tag "apply_now.png" %><% end %>
  </div>
</div>
