<div class="top" style="text-align:center;">
  <div style="font-size:70pt;font-family:Georgia;font-style: italic;color:#6ba5d0;border-bottom:1px #EEE solid;">Welcome</div>
</div>
<div class="bottom">
  <h2>Mission</h2>
    Want to break news stories from your district and spark discussion on the relevant issues in the 2011 Ontario provincial election?<br>
    <br>
    Click below to become a Toronto Star Community Correspondent and broadcast what’s happening in your district to <i>The Star’s</i> province-wide audience. 
  <div style="width:100%;text-align:center;margin-top:15px;">
    <%= link_to apply_path do %><%= image_tag "apply_now.png" %><% end %>
  </div>
</div>
