<div class="top" style="text-align:center;">
  <h3>Want to be a Community Correspondent for thestar.com?
</h3>
</div>
<div id="welcome" class="bottom">
  <p>thestar.com, in partnership with TheMarkNews.com, is seeking two Community Correspondents from every electoral district in Ontario to report weekly news stories and start online discussions about the 2011 Ontario provincial election.</p>
  <p>Break news and debate about the issues that matter in your community through the Speak Your Mind website, convened by thestar.com.</p>
  <div style="width:100%;text-align:center;margin-top:15px;">
    <%= link_to apply_path do %><%= image_tag "apply_now.png" %><% end %>
  </div>
</div>
